@import "../public/public.css";

#reset_pw {
    text-align: center;
    background-color: var(--color-bg-color);
}

#reset_pw h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

#reset_pw h2 {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 20px;
}

#reset_pw .message-section {
    margin-bottom: 40px;
}

#reset_pw .pw-form-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reset_pw label {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    text-align: left;
}

#reset_pw .password-label {
    position: relative;
    width: 100%;
}

#reset_pw .password-input-container {
    display: flex;
    align-items: center;
    width: 100%;
}

#reset_pw input[type="password"],
#reset_pw .password-input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 1em;
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 4px 0 0 4px;
}

#reset_pw .pw-view-btn {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    margin-top: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

#reset_pw .pw-view-btn i {
    font-size: 1em;
}

#reset_pw button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

#reset_pw button:hover {
    opacity: 0.9;
    color: white;
    background-color: black;
}

#reset_pw input[type="password"]:focus,
#reset_pw .pw-view-btn:focus,
#reset_pw button:focus {
    outline: none;
    border: 2px solid black;
    border-color: black;
}

#reset_pw input[type="password"]:hover,
#reset_pw .pw-view-btn:hover {
    border-color: black;
}
