<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deliverymate.mapper.UserMapper">

    <resultMap id="user_with_image_map" type="UserDTO" autoMapping="true">
        <id property="id" column="id" />
        <association property="image">
            <id property="image" column="image" />
        </association>
    </resultMap>


    <insert id="insert_user">
        INSERT INTO `user`
        (`id`, `password`,`phone`,`email`,`name`,`image`,`nick_name`)
        VALUES
        (#{id}, #{password}, #{phone}, #{email}, #{name}, #{image.image}, #{nickName})
    </insert>
    <select id="get_user_info" resultType="UserDTO" resultMap="user_with_image_map">
        SELECT * FROM `user`

    <select id="checkUserIdExists" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM user WHERE id = #{id}
    </select>

    <select id="select_user_by_userInfo" resultType="com.deliverymate.domain.UserDTO">
        SELECT * FROM `user`
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="email != null">
                AND email = #{email}
            </if>
        </where>
    </select>
    <!--***************************패스워드관련*******************************-->
    <select id="select_user_token_with_expiredate">
        SELECT NOT ISNULL(`id`) FROM `user` WHERE
            `pw_reset_token` = #{token} AND `pw_reset_token_expire_date` >= now();
    </select>

    <update id="update_user_pw_token">
        UPDATE `user` SET
                          `pw_reset_token` = #{token},
                          `pw_reset_token_expire_date` = #{expireDate}
        WHERE `id` = #{id}
    </update>

    <update id="update_user_password">
        UPDATE `user` SET
                          `pw_reset_token` = NULL,
                          `pw_reset_token_expire_date` = NULL,
                          `password` = #{password}
        WHERE `pw_reset_token` = #{token}
    </update>

</mapper>