<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{public/layout}"
>
<head>
    <meta charset="UTF-8">
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">
    <title>FIND ID/PW</title>
    <link rel="stylesheet" th:href="@{/css/user/find.css}">
    <script th:src="@{/js/user/find.js}" defer></script>
</head>
<body>
<main layout:fragment="main" class="find-main">
    <div class="find-main">
        <section>
            <span>아이디 찾기</span>
            <div class="find-div">
                <span class="find-title">이메일로 찾기</span>
                <label><input type="text" id="find-id-email" placeholder="이메일작성"></label>
                <button type="button" id="find-id-btn">아이디 찾기</button>
            </div>
        </section>

        <section>
            <span>비밀번호 재설정</span>
            <div class="find-div">
                <span class="find-title">이메일로 재설정</span>
                <label><input type="text" id="find-pw-id" placeholder="아이디입력"></label>
                <label><input type="email" id="find-pw-email" placeholder="이메일입력"></label>
                <button type="button" id="find-pw-btn">이메일 전송하기</button>
            </div>
        </section>
    </div>
</main>
</body>
</html>
