@font-face {
    font-family: 'BMJUA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-bg-color: #f8f8f8;
    --color-a-color: #333;

    /**********폰트***********/
    font-family: 'BMJUA';
    --font-size-xx-small: 10px;
    --font-size-x-small: 13px;
    --font-size-small: 14px;
    --font-size-medium: 18px;
    --font-size-large: 20px;
    --font-size-x-large: 22px;
    --font-size-xx-large: 25px;
    --font-size-xxx-large: 30px;

}


a{
    text-decoration: none;
    color: black;
}

li{
    display: inline-block;
    list-style: none;
}





/*!* 파이어폭스에서의 초기화 방법 *!*/
/*input[type=number] {*/
/*    -moz-appearance: textfield;*/
/*}*/