@import "public/public.css";

.img-div{
    margin: 0 auto;
}

.img-container{
    display: grid;
    place-content: center;
    grid-template-columns: 500px 290px 290px;
    grid-template-rows: repeat(2, 240px);
    grid-gap: 10px;
}
.img{
    background-color: #ABCCCA;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.img:hover{
    filter: brightness(80%);
}
.img:first-child{
    grid-row: 1 / 3;
    background-image: url('../img/mcdonald/mcdonald.jpg');
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.img:nth-child(2){
    background-image: url('../img/mcdonald/bicmac.png');
}
.img:nth-child(3){
    background-image: url('../img/mcdonald/doublequarter.png');
    border-top-right-radius: 5px;
}
.img:nth-child(4){
    background-image: url('../img/mcdonald/mcspicy.png');
}
.img:nth-child(5){
    background-image: url('../img/mcdonald/1955burger.png');
    border-bottom-right-radius: 5px
}

.img-div{
    position: relative;
}
/***************************************************/


.store{
    background-color: var(--color-bg-color);
}


.store-head{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container button{
    border: none;
    font-weight: bold;
    font-size: var(--small-font-size);
    padding: 8px 8px;
    border-radius: 5px;
    background-color: unset;
    cursor: pointer;
}

.btn-container button:hover{
    background-color: rgba(0,0,0,0.1);
}

.store-info{
    text-align: center;
}

.store-info > p{
    display: block;
}
/************************************************/
.store-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}


.store-menu > img{
    /*border-radius: 5px;*/
}

.menus{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 600px;
    margin: 0 auto;
}

.menus > figure{
    flex: 1;
    overflow: hidden;
}
.menus img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menus > div{
    flex: 1;
}

/**********************************************/
.store-position-section{
    display: flex;
    flex-direction: column;
    text-align:center ;
}

.store-position-section > h3{
    margin: 20px 0;
    font-size: var(--xlarge-font-size);
}

#store-position-text{
    margin-bottom: 20px;
}

.store-map-cover{
    display: flex;
    justify-content: center;
}

#store-position-map{
    width: 700px;
    height: 400px;
    background-color: #10454F;
}

/*************************************/
.review-section{
    border-top: 1px solid var(--border-color);
    margin: 50px 20px;
}
.review-section h3{
    font-size: var(--xlarge-font-size);
}
.review-section-header{
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}

.review-section-header li{
    list-style: none;
}

.review-section-header a{
    text-decoration: none;
    color: black;
    margin: 0 5px;
    cursor: pointer;;
}

.review-section-header a:hover{
    opacity: 0.8;
}

.review-container{

}

.review{
    padding: 30px 0;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.reviewer-container{
    flex-basis: 200px;
    overflow: hidden;
}
.reviewer-img{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid var(--border-color);
}
.reviewer-nickname{
    display: inline-block;
    width: 100px;
    font-size: var(--medium-font-size);
    font-weight: bold;
    vertical-align: top;
    line-height: 60px;
    margin-left: 10px;
}

.review-content-container{
    flex: 1;
}

.review-header{
    margin-bottom: 10px;
}
.review-score i{
    color: #ff7575;
    font-size: var(--small-font-size);
}
.review-date{
    margin-left: 20px;
    font-size: var(--x-small-font-size);
    color: var(--strong-color);
}

.review-content{
    font-size: var(--small-font-size);
}






