<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{public/layout}"
>
<head>
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">
    <meta charset="UTF-8">
    <title>Filter</title>
    <script src="https://kit.fontawesome.com/d19fdaba43.js" crossorigin="anonymous"></script>
</head>
<body>
    <main class="product-container" layout:fragment="main">
        <div th:each="s: ${store}">
            <a th:href="@{|store/${s.storeNo}|}">
                <section class="product-img-container">
                    <div class="product-img"
                         th:style="|background-image: url('${s.storeImg != null && s.storeImg.imageURL != null ? s.storeImg.imageURL : '../img/mcdonald/mcdonald.jpg'}')|">
                    </div>
                    <button type="button">
                        <i class="fa-solid fa-heart"></i>
                    </button>
                    <button>
                        <i class="fa-regular fa-heart"></i>
                    </button>
                </section>
                <section class="product-info-section">
                    <div class="store-name">
                        <span th:text="${s.storeName}">가게이름</span>
                        <span><i class="fa-solid fa-star"></i>4.89</span>
                    </div>
                    <div class="delivery-time ">
                        <p th:text="|${s.deliveryTime}분|">배달시간:</p>
                    </div>

                    <div class="delivery-coast">
                        <p th:text="|${s.deliveryTip}원|">배달 팁:</p>
                    </div>
                    <div class="delivery-min">
                        <span th:text="|${#numbers.formatInteger(s.leastPrice, 0, 'COMMA')}원|">&#8361;최소금액</span>
                    </div>
                </section>
            </a>
        </div>
    </main>
</body>
</html>